/* Default styles */
body {
    font-family: sans-serif;
    height: 100%;
}

.container {
    height: 100vh;
}

form {
    width: 100%;
    padding: 2%;
    border: 1px solid black;
    margin: auto;
}

/* Styles for viewports less than 500 pixels wide */
@media only screen and (max-width: 500px) {
    body {
        font-size: 12px;
    }
}

/* Styles for viewports between 500 and 800 pixels wide */
@media only screen and (min-width: 500px) and (max-width: 800px) {
    body {
        font-size: 14px;
    }
}

/* Styles for viewports between 800 and 1200 pixels wide */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
    body {
        font-size: 16px;
    }

    form {
        width: 50%;
        margin: auto;
    }
}

/* Styles for viewports wider than 1200 pixels */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }

    form {
        width: 50%;
        margin: auto;
    }
}
  